{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "overrides": [
    { "files": ["*.scss", "*.less"], "options": { "tabWidth": 4, "parser": "css" } },
    { "files": ["*.tsx", "*.ts"], "options": { "tabWidth": 4, "parser": "typescript" } },
    { "files": ["*.js", "*.jsx"], "options": { "tabWidth": 4, "parser": "babel" } },
    { "files": [".eslintrc", "*.json"], "options": {"tabWidth": 4, "parser": "json" } }
  ],
  "importOrder":  ["react", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
